
*.jpg
*.xlsx
*.docx
*.png
aqi-estimator.libraries/ImageProcessingPipeline/src/windows/.vs/ImageProcessingPipeline/FileContentIndex/10a67ae3-dae7-4fb7-a720-6edb0d919188.vsidx
*.vsidx
*.vsidx
*.vsidx
*.ipch
*.pch
