@use '@angular/material' as mat;

$custom-primary-dark-palette: (
    50: #a2e8a8,
    100: #72d687,
    200: #42c566,
    300: #12b445,
    400: #00a63a,
    500: #009b34,
    600: #00912e,
    700: #008728,
    800: #007d22,
    900: #006c18,
    A100: #7aff7f,
    A200: #47ff5b,
    A400: #14ff37,
    A700: #00ff2d,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
    )
);

$theme-primary-dark: mat.m2-define-palette($custom-primary-dark-palette);
$theme-accent-dark: mat.m2-define-palette($custom-primary-dark-palette, A200, A100, A400);
$theme-warn-dark: mat.m2-define-palette(mat.$m2-red-palette);

$theme-dark: mat.m2-define-dark-theme((
  color: (
    primary: $theme-primary-dark,
    accent: $theme-accent-dark,
    warn: $theme-warn-dark,
  )
));
