<footer class="bottom-0 select-none lg:px-[15rem] md:px-[10rem] px-4 w-full flex flex-col justify-center text-center align-middle py-[2.25rem] opacity-90 backdrop-blur-md">
    <div class="flex flex-col justify-center gap-[0.65rem]">
        <div class="px-[0.65rem] self-center text-[0.6rem] font-semibold rounded-full pt-[0.25rem] w-fit bg-[#F5F5F5] text-[#9F9F9F]">
            {{ "footer.version" | translate }}
        </div>
        <div class="opacity-60 text-[0.65rem] sm:text-xs">
            {{ "footer.caution" | translate }}
        </div>
    </div>
</footer>