@if(camData) {
    <div>
        <webcam 
            [trigger]="$trigger" 
            (imageCapture)="handleImage($event)"
            [videoOptions]="videoOptions" 
            [allowCameraSwitch]="true">
        </webcam>
        <button (click)="captureImage()">Capture</button>
    </div>
} @else {
    <button (click)="checkPermission()"> Open Camera </button>
}

@if(capturedImage) {
    <img [src]="capturedImage" alt="Captured Image">
    <button (click)="sendImage()">Send Image</button>
}