.capture_button {
    border-radius: 50%;
    width: var(--capture_button_initial_size);
    height: var(--capture_button_initial_size);
    position: relative;
    cursor: pointer;
    pointer-events: fill;
    display: flex;
    align-items: center;
    justify-content: center;
}

.capture_button_center_circle {
    width: var(--capture_button_initial_size);
    height: var(--capture_button_initial_size);
    border-radius: 50%;
    transition: width 0.2s, height 0.2s;
    transition: background-color 0.2s ease-in-out;
}

.capture_button::after {
    content: '';
    position: absolute;
    top: -0.4rem;
    left: -0.4rem;
    width: calc(100% + 0.8rem);
    height: calc(100% + 0.8rem);
    border: 0.2rem solid var(--capture_button_primary);
    border-radius: 50%;
    box-sizing: border-box;
}

.capturing.capture_button::after {
    border: 0.2rem solid var(--capture_button_secondary);
}

body {
    background-color: var(--body_bg);
}