<button 
    [id]="id"
    [class]="classes"
    [style]="styles"
    class="font-inter text-[1.15rem] rounded-xl px-8 py-2
    transition-all duration-200 ease-in-out shadow-md
    sm:hover:scale-[1.035] sm:hover:shadow-lg 
    sm:active:scale-[0.985] sm:active:shadow-md"
    [ngClass]="{
        'grayscale-[100] opacity-[0.5] select-none pointer-events-none touch-none': disabled,
        'bg-button_primary border-[1px] border-accent text-accent': style === 'default',
        'bg-button_secondary text-primary': style === 'confirm',
        'bg-button_warn text-primary': style === 'warn',
        'bg-button_primary_gradient border-[0px] text-secondary': style === 'confirm_stylized',
}"
    (click)="onClick()">
    <p class="select-none">
        {{ translationKey | translate }}
    </p>
</button>